<div class='row'>

    <div class="col-sm-12" style='border-bottom: thin solid lightgrey; border-top: thin solid lighthrey; padding-left:3.3%;padding-top:-1%;'>
        <div class='row' >
            <div class="col-sm-4">
                <div class="form-group">
                    <label> Enter Tracking Number </label>
                    <input type="text" name="tracking_number" class="form-control" style="width: 70%;margin-bottom:1%" id="tracking_number">
                    <input type="button" value='search' class='btn btn-primary' style="display:inline" onclick="retrievOrder()">
                </div>
            </div>
           
           
                <div class="col-sm-4" style="border-left: thin solid red;margin-top:1.5%;display:none;" id='prompt' >
                    <p style="color:red;font-weight: bold;">Order for specified accession number not found or not yet assigned specimen type</p>
                </div>
           
            
        </div>
    </div>

</div>

<script type="text/javascript">

    function retrievOrder()
    {   
        var tracking_number = document.getElementById('tracking_number').value;
        var _url = "/test/retrieve_order?tracking_number=" + tracking_number;
        jQuery.ajax({
                url: _url,
                async: false,
                success: function(res)
                {   
                    var details = JSON.parse(res);  
                    console.log("checking");
                    console.log(details);
                    if (details == 'false'){
                        document.getElementById('prompt').style.display = 'inline';
                    }
                    else{
                        sample_type =  details['other']['sample_type'];
                        specimen_status = details['other']['specimen_status'];
                        date_created = details['other']['date_created'];
                        tests = Object.keys(details['tests']);
                        
                        patient_id = details['other']['patient']['id'];
                        patient_name = details['other']['patient']['name'];
                        patient_gender = details['other']['patient']['gender'];
                        patient_DOB = details['other']['patient']['DOB'];

                        window.location = '/test/index?sample_type=' + sample_type + "&specimen_status=" + specimen_status + "&date_created=" +  date_created + "&tests=" + tests + "&patient_id=" + patient_id + "&patient_name=" + patient_name + "&patient_gender=" + patient_gender + "&patient_DOB=" + patient_DOB + "&tracking_number=" + tracking_number;
                    }
                },
                error: function(err)
                {
                    console.log(err.responseText);
                }
        })
    }

</script>