<div class='row'>

    <div class="col-sm-12" style='border-bottom: thin solid lightgrey; border-top: thin solid lighthrey; padding-left:3.3%;padding-top:-1%;'>
        <div class='row' >
          
            <div class="col-sm-4">
                <div class="form-group">
                    <label> Search By Patient ID </label>
                    <input type="text" name="patientID" class="form-control" style="width: 70.1%;margin-bottom:1%" id="patientID">
                    <input type="button" value='search' class='btn btn-primary' style="display:inline" onclick="searchPatient('by id');">
                </div>
            </div>
            <div class="col-sm-4" style="border-left: thin solid black;">
                <div class="form-group">
                    <label> Search By Patient Name</label>
                    <input type="text" name="firstName" placeholder="first name" class="form-control" style="width: 50%;margin-bottom:1%" id="patientName">
                    <input type="text" name="lastName" placeholder="last name" class="form-control" style="width: 50%;margin-bottom:1%" id="lastName">
                    <select class="form-control" id="gender" name="gender" style="width:50%;margin-bottom: 5px;"> 
                    <option placeholder="select gender" value="">--select gender---</option>
                    <option value="M">Male</option>
                    <option value="F">Female </option>
                    </select>
                    <input type="button" value='search' class='btn btn-primary' style="display:inline" onclick="searchPatient('by name')">
                </div>
            </div>

            
        </div>
    </div>
    
</div>

<script type="text/javascript">

    function searchPatient(searchOPtion){
    
        var first = document.getElementById("patientName").value;
        var last = document.getElementById("lastName").value;
        var gender = document.getElementById("gender").value;
        var id = document.getElementById("patientID").value;

        var url = "/user/search_patient?option=" + searchOPtion + "&first_name=" + first + "&last_name=" + last + "&gender=" + gender + "&id=" + id + "&create_order=true";
        jQuery.ajax({
            url: url,
            async: false,
            success: function(res){
                console.log(res);
                window.location = '/user/found_patients';
                if (searchOPtion == "by name")
                {

                }else{

                }
            },
            error: function(err){

            }
        });

    }

    function focusForBarcodeInput(){
        var barcode = document.getElementById("patientID");
        if (barcode)   function searchPatient(optionSearch){
            console.log("hell");
        }
        barcode.focus();

    }

    function barcodeScan(){
        usertext=document.getElementById("patientID");
        if (usertext.value.match(/.+\$$/i) != null){	  	
        usertext.value=usertext.value.substring(0,usertext.value.length -1);
            searchPatient('by id');       
        }
    }


  setInterval("barcodeScan();",300);

    function retrievOrder()
    {   
        var tracking_number = document.getElementById('tracking_number').value;
        var _url = "/test/retrieve_order?tracking_number=" + tracking_number + "&checking=true" + "&create_order=true";
        jQuery.ajax({
                url: _url,
                async: false,
                success: function(res)
                {   
                    var details = JSON.parse(res);  
                    console.log("checking");
                    console.log(details);
                    if (details == 'false'){
                        document.getElementById('prompt').style.display = 'inline';
                    }
                    else{
                        sample_type =  details['other']['sample_type'];
                        specimen_status = details['other']['specimen_status'];
                        date_created = details['other']['date_created'];
                        tests = Object.keys(details['tests']);;
                    
                        patient_id = details['other']['patient']['id'];
                        patient_name = details['other']['patient']['name'];
                        patient_gender = details['other']['patient']['gender'];
                        patient_DOB = details['other']['patient']['DOB'];

                        collected_by = details["other"]['sample_created_by']['name'];
                        requesting_clinician = details["other"]['requested_by'];
                        target_lab  = details["other"]['receiving_lab'];

                        window.location = '/test/index?sample_type=' + sample_type + "&collected_by=" + collected_by + "&requested_by=" +requesting_clinician + "&target_lab=" + target_lab + "&specimen_status=" + specimen_status + "&date_created=" +  date_created + "&tests=" + tests + "&patient_id=" + patient_id + "&patient_name=" + patient_name + "&patient_gender=" + patient_gender + "&patient_DOB=" + patient_DOB + "&tracking_number=" + tracking_number;
                    
                    }
                },
                error: function(err)
                {
                    console.log(err.responseText);
                }
        })
    }

</script>