<!DOCTYPE html>
<html>
  <head>
    <title>LabTestResultsEntry</title>
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
          <nav class="navbar navbar-inverse" style='padding-left:1.5%;'>
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: white;font-weight:bold;">Test Results Entry</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Enter Results</a></li>
                <li ><a href="#">View Tests</a></li>
              </ul>
            </div>
          </nav>
   
    <%= yield %>
  </body>
</html>

